.main-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    color: rgb(0, 0, 0);
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.571);
    margin-top: 3vw;
    font-size: 1vw;
    margin-bottom: 1vw;
    border: none;
    border-radius: 15px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw 2vw;
    box-shadow: 0 4px 8px rgba(23, 2, 2, 0.313);
}